<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8hvT2jsndrMXBilq3SHgG32KOEHxvOvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>223999000946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.stape.StapeSampleApp</string>
	<key>PROJECT_ID</key>
	<string>stape-sample-app</string>
	<key>STORAGE_BUCKET</key>
	<string>stape-sample-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223999000946:ios:274837465e23e75e555deb</string>
</dict>
</plist>